.searchContainer {
    margin-left: 15%; 
    margin-right: 15%;
    margin-top: 10%;
    margin-bottom: 5%;
}
.ticket-red{
    border-left: 1rem solid red;
    background-color: #ff9999;
    padding: 0.5rem;
    width: 100%;    
}

.ticket-orange{
    border-left: 1rem solid orange;
    background-color: #ffd280;
    padding: 0.5rem;
    width: 100%;    
}

.ticket-yellow{
    border-left: 1rem solid yellow;
    background-color: #ffff99;
    padding: 0.5rem;
    width: 100%;    
}

.dropdown-hover:hover .dropdown-content{display: block;}

.dropdown-content{display: none;}

.tagList{
    text-align: right;
    overflow: auto;
    white-space: nowrap;
    max-height: 125px;
}